* {
  margin: 0;
  box-sizing: border-box; 
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: #141414;
  font-family: Inter;
  font-weight: 400;
  padding: 1rem 0;
}
body::-webkit-scrollbar{
  display: none;
} 
.container {
  display: grid;
  grid-template-columns: minmax(auto, 385px);
  grid-template-rows: auto;
  text-align: center;
  padding: 0.5rem 1.3rem;
}
.card {
  background-color: #1f1f1f;
  border-radius: 10px;
  padding: 2rem;
}
.profile-image img {
  border-radius: 50%;
  -webkit-user-select: none;
  user-select: none;
}
.name {
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
  padding-top: 1.5rem;
}
.adress {
  color: hsl(75, 94%, 57%);
  font-size: 0.87rem;
  font-weight: 600;
  padding-top: 0.6rem;
}
.text {
  cursor: default;
}
.description {
  color: #ffffff;
  font-size: 0.88rem;
  font-weight: 300;
  padding-top: 1.8rem;
}
.links {
  padding-top: 1.6rem;
}
.links p {
  background-color: #333333;
  padding: 0.9rem;
  margin: 1rem 0;
  border-radius: 0.5rem;
  font-size: 0.88rem;
  font-weight: 600;
  transition: 0.5s;
}
.github p{
  margin-top: 0;
}
.instagram p{
  margin-bottom: 0;
}
.links p:hover {
  background-color: #c5f82a;
  color: black;
}
.links a {
  text-decoration: none;
  color: white;
}
.attribution {
  font-size: 0.7rem;
  text-align: center;
  color: white;
  cursor: default;
}
.attribution a {
  color: #c5f82a;
}
